<h1> How We Became The Best! </h1>
<h4> Why It Started! </h4>
<h4> Creators! </h4>
<h4> Growing Opportunities! </h4>
<h3> Checkout Out Some of the Jobs!!!!</h3>
    <%= link_to 'Jobs', jobs_path%>
<h3> Checkout Out Some of the Reviews!!!!</h3>
<%= link_to 'Reviews', app_review_path%>