
<% if session[:id] != nil %>
        <%poster = Poster.find(session[:id])%>

        <h1> Welcome to BorgLancer <%= poster.username%></h2>
        <p> Here is everything that you can do! </p>
        <p> blach blah blah lol</p>
        <h2>This is when someone is signed in </h2>

<%else%>
        <h1> Welcome to BorgLancer </h2>
        <p> Here is everything that you can do! </p>
        <p> no no no no lol</p>
        <h2>This is when no one is signed in </h2>
        <p> Take a look at our home page! </p>
        <%= link_to 'Home Page', home_page_path%>

<%end%>
